.mainSection {
  background-color: #1e4a73;
  background-image:
    url("noise.png"),
    /* your semi-transparent noise */
    radial-gradient(
        circle at 25% 25%,
        rgba(255, 255, 255, 0.05),
        transparent 60%
      ),
    radial-gradient(circle at 75% 75%, rgba(0, 0, 0, 0.25), transparent 70%),
    linear-gradient(135deg, #245b8a, #1e4a73);

  padding: 2rem 6rem; /* ✅ cap width */
  margin: 0 auto; /* ✅ center horizontally */
}

.mainSecond {
  border-top: 1px solid #d1b737;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.history {
  background-color: #f0f8ff;
  padding: 2rem 3rem;
}

@media only screen and (max-width: 37.5em) {
  .history {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 25em) {
  .history {
    overflow-x: scroll;
  }
}
.title {
  font-family: cursive;
  text-align: center;
  color: #ffff;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

footer {
  text-align: center;
  color: #ffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
